@import 'variables';

.header-wrapper {
    padding: 15px;
    background-color: var(--app-header-background);
    box-shadow: 0px 2px 9px 3px var(--app-header-background-shadow);
    position: fixed;
    width: 100%;
    z-index: 100;
}
