html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--app-background-color);
}

.global-wrapper {
    padding: 81px 15px 15px;
}


.cursor-pointer {
    cursor: pointer;
}

.movie-card {
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    z-index: 5;
    margin: 15px 0;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;

    .movie-card-image {
        height: 250px;
        background-size: cover;
        background-position: center center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .movie-card-content {
        padding: 30px;
        height: 222px;
    }


    .movie-card-footer {
        padding: 0 30px 30px;
    }

    .action {
        opacity: 0;
        z-index: -1;
        position: absolute;
        bottom: 0px;
        transition: all 0.5s ease;
        background-color: #121212;
        width: 100%;
        padding: 0px;
        text-align: center;
        color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:hover {
        box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.2);
        .action {
            opacity: 1;
            z-index: 1;
            padding: 10px;
            box-shadow: 0px -3px 9px 3px rgba(45, 82, 194, 0.3);
        }
    }
}

ul {
    li {
        list-style: none;
        display: inline-block;

        &.cast-icon-img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-size: cover;

            &:not(:first-child) {
                margin-left: -5px;
            }
        }
    }
}