@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
html, body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--app-base-font-color);
}

.semi-bold {
    font-weight: 600;
}
.thin {
    font-weight: 100;
}
.light-text {
    opacity: 0.7;
}

.title {
    font-size: 1.5rem;
    color: var(--app-header-branding);
    letter-spacing: 2px;
}

.small-font {
    font-size: 0.75rem;
}