*:root {
    --app-background-color: #f5f5f5;
    --app-header-branding: #ffffff;
    --app-header-background: rgb(45, 82, 194);
    --app-header-background-shadow: rgb(45, 82, 194, 0.3);
    --app-base-font-color: #121212;
    --app-rating-star-color: rgb(245, 37, 37);
    --app-rating-star-color-hover: rgba(245, 37, 37, 0.5);
}