<div class="home-wrapper">
    <div class="container">
        <div class="row home-container">
            <div class="col-md-6 col-lg-6">
                <img src="assets/img.svg" alt="" class="w-100">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3>Welcome to </h3>
                    <h1>
                        <span class="semi-bold text-uppercase">Movie</span>
                        <span class="thin text-uppercase pl-3">Rating</span>
                    </h1>
                    <div>
                        <button class="button" [routerLink]="['/movie-list']" routerLinkActive="router-link-active" >Let's Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>